@model UserDeliveryInfo

<form method="post">
	<div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>
	<div class="row text-center">
		<div class="col"></div>
		<div class="col">

			<div class="form-floating">
				<input class="form-control" asp-for="Name" />
				<label asp-for="Name">Введите ФИО</label>
				<span asp-validation-for="Name"></span>
			</div>
			<br />
			<div class="form-floating">
				<input class="form-control" asp-for="Address" />
				<label asp-for="Address">Введите адрес</label>
				<span asp-validation-for="Address"></span>
			</div>
			<br />
			<div class="form-floating">
				<input class="form-control" asp-for="Phone" />
				<label asp-for="Phone">Введите телефон</label>
				<span asp-validation-for="Phone"></span>
			</div>

			<br />

			<button class="w-100 btn btn-lg btn-primary" type="submit" asp-controller="Order" asp-action="Buy">Оформить заказ</button>
			
		</div>
		<div class="col"></div>
	</div>
</form>