<div class="col-3">
	<div class="row">
		<a href="/admin/orders">Заказы</a>
	</div>
	<div class="row">
		<a href="/admin/Users">Пользователи</a>
	</div>
	<div class="row">
		<a href="/admin/Roles">Роли</a>
	</div>
	<div class="row">
		<a href="/admin/products">Продукты</a>
	</div>
</div>