@model Login

<form method="post">
	<div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>
	<div class="row text-center">
		<div class="col"></div>
		<div class="col">
			<h1 class="h3">Авторизация</h1>
			<br />
			<div class="form-floating">
				
				<input class="form-control" asp-for="UserName" />
				<label asp-for="UserName">Введите логин</label>
				<span asp-validation-for="UserName"></span>
			</div>
			<br />
			<div class="form-floating">
				<input type="password"  class="form-control" asp-for="Password" />
				<label asp-for="Password">Введите пароль</label>
				<span asp-validation-for="Password"></span>
			</div>
			<br />
			<div class="checkbox mb-3">
				<label>
					<input type="checkbox" name="rememberMe" value="true" />  Запомнить меня
				</label>
			</div>
			<br />
			<button class="w-100 btn btn-lg btn-primary" type="submit" asp-controller="Account" asp-action="Login">Войти</button>
			
			
			<a class="nav-link" role="button" href="/Account/Register">Регистрация нового пользователя</a>
			
		</div>
		<div class="col"></div>
	</div>
</form>
