@model Register

<form method="post">
	<div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>
	<div class="row text-center">
		<div class="col"></div>
		<div class="col">
			<div>
				<h3>Вход</h3>
			</div>
			<br />
			<div class="form-floating">
				<input class="form-control" asp-for="UserName"/>
				<label asp-for="UserName">Введите логин</label>
				<span asp-validation-for="UserName"></span>
			</div>
			<br />
			<div class="form-floating">
				<input type="password" class="form-control" asp-for="Password" />
				<label asp-for="Password">Введите пароль</label>
				<span asp-validation-for="Password"></span>
			</div>
			<br />
			<div class="form-floating">
				<input type="password" class="form-control" asp-for="ConfirmPassword" />
				<label asp-for="ConfirmPassword">Введите пароль</label>
				<span asp-validation-for="ConfirmPassword"></span>
			</div>
			<br />
			<button class="w-100 btn btn-lg btn-primary" type="submit" asp-controller="Account" asp-action="Register">Зарегестрироваться</button>
		</div>
		<div class="col"></div>
	</div>
</form>
